.footer-links-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 22px;
}

.footer-link-heading {
  font-size: 16px;
  letter-spacing: -0.25px;
  color: #ffffff;
  font-weight: 700;
}

.inner-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  font-size: 15px;
  font-weight: 500;
  color: #bfbfbf;
  text-decoration: none;
}
