.header {
  /*
  padding - if it doesn't look right then bottom should have its padding removed
  */
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.text-logo {
  height: 24px;
}

.header-mobile-menu-btn {
  padding: 0;
  margin: 0;
  display: flex;
  background-color: transparent;
}

.mobile-menu-icon {
  height: 24px;
}
