.header-big {
  display: none;
}

@media (min-width: 900px) {
  .header-big {
    display: flex;
    max-width: 1208px;
    padding: 48px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .header-link {
    font-size: 15px;
    color: #9e9aa8;
    font-weight: 700;
    text-decoration: none;
  }

  .header-link:hover {
    color: #34313d;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .header-primary-link {
    width: 108px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 32px;
    background-color: #2bd0d0;
    color: #ffffff;
    text-decoration: none;
  }
}
