.primary-link {
  max-width: 197px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 56px;
  background-color: #2bd0d0;
  color: #ffffff;
  text-decoration: none;
}
