.urls-info {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 0;
  border-radius: 8px;
}

.urls-info-top-container {
  padding: 0 16px;
  width: 100%;
  border-bottom: 1px solid #eff1f7;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.urls-info-og-url {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313d;
  text-decoration: none;
}

.urls-info-og-url:hover,
.urls-info-shortened-url:hover {
  text-decoration: underline;
}

.urls-info-bot-container {
  padding: 0 16px;
  width: 100%;
  text-decoration: none;
}

.urls-info-shortened-url {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #2bd0d0;
  text-decoration: none;
}

@media (min-width: 900px) {
  .urls-info {
    display: flex;
    align-items: center;
    padding: 18px 32px;
    height: 72px;
    justify-content: space-between;
  }

  .urls-info-top-container {
    border-bottom: none;
    padding: 0;
    width: auto;
    max-width: 50%;
  }

  .urls-info-bot-container {
    padding: 0;
    width: auto;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .urls-info-og-url {
    font-size: 20px;
    letter-spacing: 0.15px;
    font-weight: 500;
  }

  .urls-info-shortened-url {
    font-size: 20px;
    letter-spacing: 0.15px;
    font-weight: 500;
  }
}
