* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  /*
  padding - if it doesn't look right then bottom should have its padding removed
  */
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-logo {
  height: 24px;
}

.header-mobile-menu-btn {
  padding: 0;
  margin: 0;
  display: flex;
  background-color: transparent;
}

.mobile-menu-icon {
  height: 24px;
}

.hero-img-container {
  padding: 0 24px;
  overflow-x: hidden;
}

.hero-container {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.05px;
  color: #34313d;
}

.hero-subheading {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.12px;
  color: #9e9aa8;
}

.hero-btn {
  max-width: 197px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 56px;
  background-color: #2bd0d0;
  color: #ffffff;
  text-decoration: none;
}

.shorten-container {
  padding: 24px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 104px,
    #eff1f7 104px,
    #eff1f7 100%
  );
}

.shorten-form {
  background-color: #3a3054;
  background-image: url("/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
}

.shorten-form-input {
  width: 100%;
  font-size: 16px;
  line-height: 36px;
  padding: 0 16px;
  height: 48px;
  border-radius: 8px;
  color: #34313d;
  font-weight: 500;
}

.shorten-form-btn {
  background-color: #2bd0d0;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

.features-container {
  padding: 24px;
  background-color: #eff1f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.features-heading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.features-heading {
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.7px;
  font-weight: 700;
  color: #34313d;
}

.features-subheading {
  font-size: 22px;
  color: #34313d;
}

.features-text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.11px;
  color: #9e9aa8;
  font-weight: 500;
}

.features-cards-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 96px;
  background-image: linear-gradient(
    to right,
    transparent 0px,
    transparent calc(50% - 4px),
    #2bd0d0 calc(50% - 4px),
    #2bd0d0 calc(50% + 4px),
    transparent calc(50% + 4px),
    transparent 100%
  );
}

.features-text-small {
  font-size: 15px;
  line-height: 26px;
  color: #9e9aa8;
  font-weight: 500;
}

.features-info-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px;
  padding-top: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.features-icon-container {
  background-color: #3a3054;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
}

.boost-container {
  padding: 90px 36px;
  background-color: #3a3054;
  background-image: url("/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.boost-cta-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  color: #ffffff;
  align-items: center;
}

.boost-cta-heading {
  font-size: 26px;
  line-height: 48px;
  letter-spacing: -0.7px;
  font-weight: 700;
}

.footer {
  background-color: #232127;
  padding: 54px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-logo {
  height: 28px;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 22px;
}

.footer-link-heading {
  font-size: 16px;
  letter-spacing: -0.25px;
  color: #ffffff;
  font-weight: 700;
}

.inner-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  font-size: 15px;
  font-weight: 500;
  color: #bfbfbf;
  text-decoration: none;
}

.footer-social-container {
  display: flex;
  gap: 24px;
}

.footer-social-icon {
  color: #ffffff;
  height: 24px;
  width: 24px;
}
