* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.hero-img-container {
  padding: 0 24px;
}

.hero-container {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.05px;
  color: #34313d;
}

.hero-subheading {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.12px;
  color: #9e9aa8;
}

.hero-btn {
  max-width: 197px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 56px;
  background-color: #2bd0d0;
  color: #ffffff;
  text-decoration: none;
}

.shorten-container {
  padding: 24px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 104px,
    #eff1f7 104px,
    #eff1f7 100%
  );
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.shorten-form {
  background-color: #3a3054;
  background-image: url("/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
}

.shorten-form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.shorten-form-label {
  display: none;
}

.shorten-form-input {
  width: 100%;
  font-size: 16px;
  line-height: 36px;
  padding: 0 16px;
  height: 48px;
  border-radius: 8px;
  color: #34313d;
  font-weight: 500;
  outline: none;
}

.shorten-form-input-error {
  width: 100%;
  font-size: 16px;
  line-height: 36px;
  padding: 0 16px;
  height: 48px;
  border-radius: 8px;
  color: #34313d;
  font-weight: 500;
  border: 4px solid #f46363;
  outline: none;
}

.shorten-form-input-error::placeholder {
  color: #f46363;
  font-weight: 400;
}

.input-error-msg {
  color: #f46363;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08px;
}

.urls-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.shorten-form-btn {
  background-color: #2bd0d0;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

.features-container {
  padding: 24px;
  background-color: #eff1f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.features-heading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.features-heading {
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.7px;
  font-weight: 700;
  color: #34313d;
}

.features-subheading {
  font-size: 22px;
  color: #34313d;
}

.features-text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.11px;
  color: #9e9aa8;
  font-weight: 500;
}

.features-cards-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 96px;
  background-image: linear-gradient(
    to right,
    transparent 0px,
    transparent calc(50% - 4px),
    #2bd0d0 calc(50% - 4px),
    #2bd0d0 calc(50% + 4px),
    transparent calc(50% + 4px),
    transparent 100%
  );
}

.features-text-small {
  font-size: 15px;
  line-height: 26px;
  color: #9e9aa8;
  font-weight: 500;
}

.features-info-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px;
  padding-top: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.features-icon-container {
  background-color: #3a3054;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
}

.boost-container {
  padding: 90px 36px;
  background-color: #3a3054;
  background-image: url("/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.boost-cta-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  color: #ffffff;
  align-items: center;
}

.boost-cta-heading {
  font-size: 26px;
  line-height: 48px;
  letter-spacing: -0.7px;
  font-weight: 700;
}

@media (min-width: 900px) {
  .hero-section {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 1208px;
  }

  .hero-img-container {
    width: 50%;
  }

  .hero-img {
    width: 732px;
  }

  .hero-container {
    padding: 0;
    align-items: start;
    padding: 0 48px;
    width: 50%;
  }

  .hero-text-container {
    text-align: left;
  }

  .hero-heading {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
  }
}
